/*
vim: syntax=groovy
-*- mode: groovy;-*-

* Default config options 
*
*/
params {
    out_dir = "./results"
    help = false

    /* System config */
    version = '0.1' // Pipeline version    
}
process {
    clusterOptions = {
        "-A $params.project"
    }

    queue = 'core'
    executor = 'slurm'
    time = '24h'
}
